* {
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 0px) {
	html { font-size: 8px; }

	nav, main {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	nav .right li {
		margin-left: 0rem;
	}
}

@media only screen and (min-width: 350px) {
	html { font-size: 10px; }

	nav, main {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}

@media only screen and (min-width: 600px) {
	html { font-size: 12px; }
}

@media only screen and (min-width: 600px) {
	nav, main {
		padding-left: 10rem;
		padding-right: 10rem;
	}

	nav .right li {
		margin-left: 3rem;
	}
}

@media only screen and (min-width: 800px) {
	html { font-size: 14px; }

	nav .right li {
		margin-left: 3rem;
	}
}

@media only screen and (min-width: 900px) {
	html { font-size: 16px; }

	nav .right li {
		margin-left: 4.5rem;
	}
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Open Sans";
	background-color: grey;
}

nav {
	background: white;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

nav .left {
	//width: 50%;
	display: inline-block;
}

nav ul {
	list-style-type: none;
}

nav .brand img {
	width: 10rem;
}

nav .right {
	float: right;
	display: inline-block;
}

nav .right ul {

}

nav .right li {
	display: inline-block;

	font-size: 1.3rem;
	margin-top: 1rem;

	border-top: 0.5rem solid black;
	line-height: 1.2rem;

	transition: border 0.1s;
}

nav .right li:hover {
	border: none;
}

h1 {
	font-size: 3rem;
	font-family: "Poppins";
}

h2 {
	font-size: 1.5rem;
	font-family: "Poppins";
}

p {
	font-size: 1.2rem;
	font-weight: 900;
}

main {
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/art-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	height: 100%;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);

	padding-top: 3rem;
}

main p {
	margin-top: 10rem;
	width: 35rem;
}
